<footer class="fixed-bottom bg-light mt-5">
  <div class="container">
    <div class="row pt-5 pb-3">
      <div class="col-sm-12 text-center">
        <p class="text-muted">Copyright (c) 2021 tastylog. All Rights Reserve</p>
      </div><!-- /.col-sm-12 text-center -->
    </div><!-- /.row pt-5 pb-3 -->
  </div><!-- /.container -->
</footer><!-- /.bg-light text-muted mt-5 -->